<a href="https://colab.research.google.com/github/aasrithalella1/PDS/blob/main/PDS_ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [175]:
#Imported necessary libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [174]:
from google.colab import files
uploaded = files.upload()

Saving Used_car_data.csv to Used_car_data (2).csv

In [176]:
df = pd.read_csv("Used_car_data.csv")
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

#A) Look for the missing values in all the columns and imputed them with Median

In [177]:
# Checks how many missing values are in each column
df.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

Removed text units and converted Mileage, Engine, and Power to numeric.

In [178]:
# Removes units and converts to numeric before filling missing values
df['Mileage'] = df['Mileage'].str.replace(' kmpl', '', regex=False)
df['Mileage'] = df['Mileage'].str.replace(' km/kg', '', regex=False)
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')

df['Engine'] = df['Engine'].str.replace(' CC', '', regex=False)
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

df['Power'] = df['Power'].str.replace(' bhp', '', regex=False)
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

# Fills missing values
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
df['Power'] = df['Power'].fillna(df['Power'].median())
df['Seats'] = df['Seats'].fillna(df['Seats'].mode()[0])


# Dropped the 'New_Price' column since it has too many missing values
df = df.drop(columns=['New_Price'])

Filled missing values using median (for numeric) and mode (for categorical).

In [179]:
print("Missing values handled")
print(df.isnull().sum())

Missing values handled
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

#B) Remove the units from some of the attributes and only keep the numerical values

Cleaned text units like "kmpl", "CC", "bhp" to keep only numerical values.

In [180]:
#Removes units from numerical columns

# Removes ' kmpl' and ' km/kg' from Mileage
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl', '', regex=False)
df['Mileage'] = df['Mileage'].str.replace('km/kg', '', regex=False)

# Remove ' CC' from Engine
df['Engine'] = df['Engine'].astype(str).str.replace(' CC', '', regex=False)

# Remove ' bhp' from Power
df['Power'] = df['Power'].astype(str).str.replace(' bhp', '', regex=False)

# Converts all to numeric
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

#C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

Converted categorical values into binary columns using one-hot encoding

In [181]:
#Onehot encode Fuel_Type and Transmission
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [182]:
print("Onehot encoding done, new columns:")
print(df.columns)

Onehot encoding done, new columns:
Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price',
       'Fuel_Type_Electric', 'Fuel_Type_Petrol', 'Transmission_Manual'],
      dtype='object')

In [183]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,True,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True

#D)Create one more feature and add this column to the dataset

Calculated age of the car by subtracting manufacture year from current year.

In [184]:
# Gets the current year
current_year = datetime.now().year

In [185]:
df['Car_Age'] = current_year - df['Year']

In [186]:
#Updated DataFrame
print(df[['Year', 'Car_Age']].head())

   Year  Car_Age
0  2015       10
1  2011       14
2  2012       13
3  2013       12
4  2013       12

In [187]:
# Select specific columns
df_selected = df[['Car_Age', 'Price', 'Fuel_Type_Electric', 'Transmission_Manual']]

print(df_selected.head())

   Car_Age  Price  Fuel_Type_Electric  Transmission_Manual
0       10  12.50               False                 True
1       14   4.50               False                 True
2       13   6.00               False                 True
3       12  17.74               False                False
4       12   3.50               False                 True

#E)Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset

Filtered rows where the car is older than 5 years.

In [188]:
#car age is greater than 5 years
df_filtered = df[df['Car_Age'] > 5]

print(df_filtered.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0               False             False                 True       10
1               False              True                 True       14
2               False             False                 True       13
3               False             False                False       12
4               False             False                 True       12

Renamed columns to clearer names.

In [189]:
# Rename columns
df_renamed = df.rename(columns={'Car_Age': 'Age_of_Car', 'Price': 'Car_Price'})

print(df_renamed.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Car_Price  \
0              41000      First    19.67  1582.0  126.20    5.0      12.50
1              46000      First    13.00  1199.0   88.70    5.0       4.50
2              87000      First    20.77  1248.0   88.76    7.0       6.00
3              40670     Second    15.20  1968.0  140.80    5.0      17.74
4              86999      First    23.08  1461.0   63.10    5.0       3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Age_of_Car
0               False             False                 True          10
1               False              True                 True          14
2               False             False                 True          13
3               False             False                False          12
4               False             False                 True          12

In [190]:
# Mutate
df['Log_Price'] = df['Price'].apply(lambda x: np.log(x) if x > 0 else 0)

print(df[['Price', 'Log_Price']].head())

   Price  Log_Price
0  12.50   2.525729
1   4.50   1.504077
2   6.00   1.791759
3  17.74   2.875822
4   3.50   1.252763

In [191]:
# Group by both 'Fuel_Type_Electric' and 'Fuel_Type_Petrol', and calculate the average 'Price'
df_grouped = df.groupby(['Fuel_Type_Electric', 'Fuel_Type_Petrol'])['Price'].mean().reset_index()

print(df_grouped)

   Fuel_Type_Electric  Fuel_Type_Petrol      Price
0               False             False  12.960686
1               False              True   5.756688
2                True             False  12.875000